<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Manejar Proveedor</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/libs/style.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/fonts/circular-std/style.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/fonts/fontawesome/css/fontawesome-all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/proveedor.css}"  />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <!--===============================================================================================-->

</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="/">ADMINISTRACIÓN DE CONTROL DE GASTOS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Menu
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                            <div id="submenu-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/}"  >Página Principal</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Acciones</a>
                            <div id="submenu-2" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/compras/new}">Agregar Nueva Compra</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/proveedores/new}">Agregar Proveedor</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/tipo/new}">Agregar Tipo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/productos/new}">Agregar Producto</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/compraProductos/new}">Agregar Compra Producto</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Estadísticas</a>
                            <div id="submenu-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/productos/clasificar-productos}">Clasificar Productos (Asc)</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Manejar Tablas </a>
                            <div id="submenu-5" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/compras}">Tabla Compra</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/productos}">Tabla Producto</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/proveedores}">Tabla Proveedor</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/tipos}">Tabla Tipo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/compraProductos}">Tabla Compra Producto</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->

    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h5>Panel Principal > Manejar Tablas > Proveedores</h5>
                    <!-- ============================================================== -->
                    <!-- content -->
                    <!-- ============================================================== -->
                    <br><br>

                    <table class="container">
                        <thead>
                        <tr>
                            <th><h1>ID</h1></th>
                            <th><h1>Nombre</h1></th>
                            <th><h1>Dirección</h1></th>
                            <th><h1>Teléfono</h1></th>
                            <th><h1>Acción: Editar</h1></th>
                            <th><h1>Acción: Eliminar</h1></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="proveedor : ${listProveedores}">
                            <td th:text="${proveedor.id}"></td>
                            <td th:text="${proveedor.nombre}"></td>
                            <td th:text="${proveedor.direccion}"></td>
                            <td th:text="${proveedor.telefono}"></td>
                            <td><center><a th:href="@{'/proveedores/edit/' + ${proveedor.id}}" class="yellow">EDITAR</a></center></td>
                            <td><center><a th:href="@{'/proveedores/delete/' + ${proveedor.id}}" class="red">ELIMINAR</a></center></td>
                        </tr>
                        </tbody>
                    </table>



                    <!-- ============================================================== -->
                    <!-- end content -->
                    <!-- ============================================================== -->
                </div>
            </div>
        </div>




    </div>
</div>
</div>
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->
</div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!--===============================================================================================-->
<script th:src="@{/css/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/css/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/css/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/css/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/css/vendor/select2/select2.min.js}"></script>
<script>
    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/css/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/css/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/css/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script th:src="@{/js/vendor/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{/js/vendor/slimscroll/jquery.slimscroll.js}"></script>
<script th;src="@{/js/libs/js/main-js.js}"></script>

</body>

</html>